<table class="table table-hover">
  <thead>
    <h2>メッセージ一覧</h2>
  </thead>
  <tbody>
    <% @chat_rooms.each do |chat_rooms| %>
      <td>
        <% if chat_rooms.target_user(current_user).present? %>
          <%= link_to chat_rooms.target_user(current_user).name, chat_rooms_messages_path(conversation)%>
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>
